{% extends 'base.html.twig' %}
{% block body %}

<section id="connexion">
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="d-flex d-md-block bg-yellow-1 col-md-4 col-12 p-3"></div>
            <div class="col-md-2"></div>
            <div class="col-md-5 mb-5 ml-5">
                <div class="compte m-0">
                    <p class="m-0"><a href="?controller=pages&action=home">Accueil</a></p>
                </div>
                <h1 class="compte mb-5">contact</h1>
                <div class="about">
                    <p>
                        Une question concernant ce projet ?
                        <a href="mailto:nadia.rousseau@hotmail.fr">nadia.rousseau@hotmail.fr</a>
                    </p>
                    
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}