{% extends 'base.html.twig' %}
{% block body %}
<section id="profil">
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="d-flex d-md-block bg-yellow-1 col-md-4 col-12 p-3"></div>
            <div class="col-md-2"></div>
            <div class="col-md-5 mb-5 ml-5">
                <div class="compte m-0">
                    <p class="m-0"> <a href="#"  onclick="backOrToPage()">Retour ?</a></p>
                </div>
                <h1 class="compte mb-5">A bientôt. On l'espère. </h1>
            </div>
        </div>
    </div>     
</section>
{% endblock %}