{% extends 'base-profil.html.twig' %}
{% block body %}
    <section id="connexion">
            <div class="container-fluid">
                <div class="row align-items-center">
                    <div class="d-flex d-md-block bg-blue-1 col-md-4 col-12 p-3"></div>
                    <div class="col-md-2"></div>
                    <div class="col-md-6">
                        <p class="m-0"> <a href="profil-organisateur.html">Retour ?</a></p>
                        <h1 class="compte mb-5">Ajouter un événement</h1>
                        <div class="form-row">
                            <form method="get" action="?controller=events&action=addEvent" onsubmit="return verificationEvent()">
                                    <p>
                                        <input class="col-md-6 mb-1 p-2" type="text" id="titre" name="titre" placeholder="titre">
                                    </p>
                                    <p>
                                        <input class="col-md-3 mb-1 p-2 " type="date" id="date-debut" name="debut" placeholder="mot de passe">
                                        <input class="col-md-3 mb-1 p-2 " type="date" id="date-fin" name="fin" placeholder="mot de passe">
                                    </p>
                                    <p>
                                        <div class="col-md-6 col-sm-6 mb-1 p-2">
                                            <select class="form-control" id="lieu" name="lieu">
                                                {% for lieu in lieu %}
                                                    <option value="{{ lieu.id_lieu }}">{{ lieu.ville }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                        <div class="col-md-6 col-sm-6 mb-1 p-2">
                                            <select class="form-control" id="categorie" name="categorie">
                                                {% for categorie in categorie %}
                                                    <option value="{{ categorie.id_categorie }}">{{ categorie.libelle_categorie }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </p>
                                    <p>
                                        <input class="col-md-6 mb-1 p-2" type="file" id="photo" name="photo" placeholder="photo">
                                    </p>
                                    <p>
                                        <input class="col-md-6 mb-1 p-2" type="text" id="resume" name="resume" placeholder="Résumé"></textarea>
                                    </p>
                                    <p>
                                        <textarea class="col-md-6 mb-1 p-2" type="text" id="description" name="description" placeholder="Description"></textarea>
                                    </p>
                                </div>
                                <div class="btn">
                                    <a><input class="btn p-0" type="submit" value="Valider"></a>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
    </section>
{% endblock %}