{% extends 'base.html.twig' %}
{% block body %}
    <section id="intro">
            <div class="d-flex bg-orange">
                <div class="container-fluid">
                    <div class="d-flex justify-content-center mt-3">
                      <h2>Evénements Here We Go</h2>
                    </div>
                    <div class="d-flex justify-content-center">
                      <p>Près de chez vous</p>
                  </div>
                  <div class="d-flex justify-content-center mb-3">
                    <div class="btn">
                      <a href="filtres.html">Filtres</a>
                    </div>
                  </div>
                </div>
              </div>
        </section>
        <section id="events-accueil">
          <div class="d-flex bg-blue">
        <div class="container-fluid">
          <div class="row mb-5 mt-5 d-flex justify-content-center align-items-center">
            <div class="col-ld-3 col-md-3 col-12 col-sm-6 mb-5 ">
              <a href="template-event.html" class="border-bottom">
              <div class="card baseBlock mx-auto">
                <img class="card-img-top" src="https://asa79.com/images/image/niort_classic/AfficheRallyeNiortClassic2023_site.jpg" alt="Card image cap">
                <div class="card-body face face2">
                  <h5 class="card-title">Rallye Niort classic</h5>
                  <h6 class="card-text mb-4">6 et 7 mai 3023</h6>
                  <p class="card-text mb-4">l'ASA 79 organise les 6 et 7 mai 2023 la 3ème édition du Niort Classic Rallye de régularité historique VHR FFSA.</p>
                  <a href="template-event.html"><button>Voir plus</button></a>
                </a>
                </div>
              </div>
            </div>
            <div class="col-ld-3 col-md-3 col-12 col-sm-6 mb-5">
              <a href="template-event.html" class="border-bottom">
              <div class="card baseBlock mx-auto">
                <img class="card-img-top" src="https://sortir.grandpoitiers.fr/fileadmin/_processed_/6/f/csm_ejdgmtkook0tjealbs44ifn6ey2tez9p_718c034802.jpg" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">Il était une voix</h5>
                  <h6 class="card-text mb-4">6 et 7 mars 2023</h6>
                  <p class="card-text mb-4">Il était une voix raconte l’histoire d’une petite fille qui, enfermée dans sa chambre, part à la découverte de son monde intérieur</p>
                  <a href="template-event.html"> 
                    <button>Voir plus</button></a>
                </a>
                </div>
              </div>
            </div>
            <div class="col-ld-3 col-md-3 col-12 col-sm-6 mb-5 ml-5">
              <a href="template-event.html" class="border-bottom">
              <div class="card baseBlock mx-auto">
                <img class="card-img-top" src="https://sortir.grandpoitiers.fr/fileadmin/_processed_/d/f/csm_gdp6pu39rprry5aszq3kze6g2jxlo51d_bca9944844.png" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">Golf Master</h5>
                  <h6 class="card-text mb-4">11 et 12 Mars 2023</h6>
                  <p class="card-text mb-4">Sous la forme de la Ryder Cup, 36 joueurs défendront les couleurs des USA et 36 joueurs défendront les couleurs de l'Europe.</p>
                  <a href="template-event.html"><button>Voir plus</button></a>
                </a>
                </div>
              </div>
            </div>
            <div class="col-ld-3 col-md-3 col-12 col-sm-6 mb-5 ml-5">
              <a href="template-event.html" class="border-bottom">
              <div class="card baseBlock mx-auto">
                <img class="card-img-top" src="https://sortir.grandpoitiers.fr/fileadmin/_processed_/f/0/csm_bfyakti1yl290qi7dnnj7yxwh1bl7521_59cfd03b0a.jpg" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">D'une rive à l'autre</h5>
                  <h6 class="card-text mb-4">22 avril</h6>
                  <p class="card-text mb-4">Passeurs de mondes passeurs de mots, les contes nous embarquent au gré des courants, des frissons, des émotions …. </p>
                  <a href="template-event.html"><button>Voir plus</button></a>
                </a>
                </div>
              </div>
            </div>
          </div>
        </div>
        </div>
          </div>
          </div>
        </section>

{% endblock %}